<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="Data Source=DBSES0494;Initial Catalog=QDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnString" connectionString="Data Source=DBSED4648;Initial Catalog=RecollectionPortal;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
